# Valores do ambiente de aula. Copie para .env para personalizar.
POSTGRES_USER=bd2
POSTGRES_PASSWORD=bd2
POSTGRES_DB=matricula
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@iesb.br
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=8080
